html {font-size:62.5%;}
/* */
.btnSearchItem{
  position: absolute;
  z-index: 10;
  left: 20rem;
  top: -1.5rem;
}
#resultArea {
  border:2px solid #949494;
  border-radius : 0px 0px 1rem 1rem;
  width : 25rem;
  background : #ffffffb8;
}
.resultEow:hover {
  background : #7473a7cf;
}
.btnSearchItem:hover{
  top: 0rem;
}

/* 页面全体 */
#activity{
  background:url(../images/backgound_v.jpg)no-repeat;
  width: 80rem;
  height: 95rem;
  margin: -2.3rem 0 0 -1rem;
}
/* 上方按钮区域 */
#topBtnArea{
  position: fixed;
  margin: 2rem 0 0 2rem;
  display: grid;
  z-index:9;
}
/* 立绘区域 */
#heroIllustration {
  position : absolute;
}
#imgName {
 height: 92rem;
}
/* 具体信息区域 */
#heroStatusArea {
  position: absolute;
  width: 60rem;
  height: 30rem;
  margin-top: 55rem;
  margin-left: 8rem;
  background-color: #1e1e1e87;
  border-radius: 1rem;
}
/* 称号和名称区域 */
#titleArea{
  background:url(../images/bk_title.png)no-repeat;
    background-size: 25rem 15rem;
    height: 15rem;
    margin-top: -16.5rem;
}
.blessType {
  padding-left: 54rem;
  margin-top: -2rem;
  width : 6rem;
}
/* 具体信息文字列 */
#codeImageArea {
  background:url(../images/bk_attr.png)no-repeat;
  background-size:25rem 3rem;
  height : 3rem;
  margin-left: 1rem;
}
/* 行 */
.statusAndSkillRow {
  display: flex;
  padding-top: 1rem;
  padding-left : 3rem;
}
/* 称号和名称区域-文字 */
#titleArea label {
  display: grid;
  padding-left: 6rem;
  padding-top: 4rem;
  text-shadow:#003 5px 5px 8px;
  font-size: 1.9rem;
  font-weight: bolder;
  color: white;
}
/* 数值区域块 */
.status {
  background:url(../images/bk_attr.png)no-repeat;
  background-size: 20rem 3rem;
    width: 23rem;
    height: 3rem;
    font-size: 2rem;
  padding-left: 3rem;
}
/* 技能区域块 */
.skill {
  background:url(../images/bk_skill.png)no-repeat;
  background-size:25rem 3rem;
  width : 25rem;
}
/* 武器背景图 */
.weapon {
  background:url(../images/bk_weapon.png)no-repeat;
  background-size:25rem 3rem;
  width : 25rem;
  margin-left: -0.7rem;
}
/* 武器 */
.skill,.weapon label {
  font-size: 1.7rem;
  padding-left: 5rem;
  padding-top: 0.2rem;
}
/* 说明文字列 */
.title{
  font-weight: bolder;
  color : white;
}
/* 值 */
.value{
  padding-left: 4rem;
  color : yellow;
}
/* 下方区域 */
#bottomBtnArea {
  position: fixed;
  top: 88rem;
  left: 30rem;
}
/* 图片导航 */
ul li {
  float: left;
  margin-left: 2.5rem;
  color: white;
  list-style: circle;
  transform: scale(2.5);
}
ul .li-active,ul li:hover {
  list-style: disc;
}